@import url('https://fonts.googleapis.com/css?Muli&display=swap');



.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.3s ease-in;
    border-radius: 0px;
}


.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    color: white;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    } 
}
@media only screen and (max-width: 600px) {
    .panel {
       
        height: 50vh !important;
    
    }
    #BUILD{
        display: none;
    }
    #TextSocial{
        display: none;
    }
    #containerBuild{
        padding-left: 0px !important;
        padding-bottom: 70px !important;
        padding-top: 50px !important;
    }
    #textcontainerBuild{
        width: 100% !important;
    }
    #image1{
        display: none;
    }
    #image2{
        display: none;
    }
    #section3{
        height: 100%   !important;
    }
    #col1{
        max-width: 100% !important;
    }
    #text1Section3{
        padding-left: 0px;
    }
    #text2Setion3{
        max-width: 100% !important;
        padding-left: 0px !important;
        padding-top: 10px !important; 
    }
    #section4{
        display: none;
    }
   #image3{
    display: none;
   }
   #sectionhai
   {
    height: 390px !important;

   }
    
    /* Thêm các quy tắc CSS cho các thiết bị di động ở đây */
}
@media only screen and (min-width: 600px) {

    #BUILDMobile{
        display: none;
    }
    #section4Mobi{
        display: none;
    }
   
    
    /* Thêm các quy tắc CSS cho các thiết bị di động ở đây */
}